.link-button:hover {
        background-size: 400% 400%;
        animation: rainbow-gradient 2s ease infinite;
}

@keyframes rainbow-gradient {
    0%, 100% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
}    
